<template>
  <div class="container">
    <MainEditorSample
        :dataResult="dataResult"
        :mode="'viewing'"
        @addContentProtocol="(e) => addContentProtocol(e)"
        @changeActiveItem="(item) =>{
          this.editItem = {
              id: item.id,
              title: item.title,
              content: item.content,
            }
        }"
        @changeDataResult="()=>{
          let randomID = Math.random().toString(36);
          dataResult.push({
            id: randomID,
            title:'New item',
            content: '',
            children: []
          });
        }"/>
    <div class="protocol">
      <div class="edit-title">Создание протокола:</div>
      <div v-for="item in protocolInputs" :key="item" class="protocol-input">
        <textarea
            :class="{waitingSelect: waitingSelect}"
            :placeholder="item.placeholder"
            :value="item.content"
            class="edit-input edit-input-textarea"
            @change="e => item.content = e.target.value"
            @click="() =>{
              if (waitingSelect) {
                item.content = item.content + waitingContentSelect;
                waitingSelect= false;
              }
            }"
        ></textarea>
      </div>
    </div>
  </div>
</template>

<script>
import MainEditorSample from '@/components/MainEditorSample.vue'

export default {
  name: 'EditSample',
  props: {
    msg: String
  },
  components: {
    MainEditorSample,
  },
  methods: {
    addContentProtocol(e) {
      this.waitingSelect = true;
      this.waitingContentSelect = e;
    },
    saveItem(id) {
      let ths = this;

      function checkArray(array, findId) {
        for (let i = 0; i < array.length; i++) {
          let item = array[i];
          if (item.id === findId) {
            item.title = ths.editItem.title;
            item.content = ths.editItem.content;
            return 'return'
          }

          if (item.children.length) {
            checkArray(item.children, findId)
          }
        }
      }

      checkArray(this.dataResult, id);
    },
  },
  data() {
    return {
      waitingSelect: false,
      waitingContentSelect: '',
      protocolInputs: [
        {
          id: 'protocol - description',
          placeholder: 'Описание протокола',
          content: ''
        },
        {
          id: 'protocol - recommendation',
          placeholder: 'Рекомендации протокол',
          content: ''
        },
        {
          id: 'protocol - finish',
          placeholder: 'Заключение протокол',
          content: ''
        }
      ],
      editItem: {
        id: '',
        title: 'asdsada',
        content: 'content'
      },
      dataResult: []
    }
  },
  computed: {},
  mounted() {
    const localData = localStorage?.dataSample;

    if (localData && Array.isArray(JSON.parse(localData))) {
      this.dataResult = JSON.parse(localData);
    }
  }
}
</script>

<style lang="scss" scoped>
.waitingSelect {
  border: 1px solid #6486FF !important;
}

.container {
  display: flex;
  margin: 0 20px;
}

.btn-save {
  margin: 20px 0;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
  background-color: #5ABC57;
  color: white;
  display: inline-block;
  border-radius: 12px;
}

.protocol {
  margin-left: 30px;
  max-width: 100%;
}

.edit-title {
  margin-bottom: 30px;
}

.edit-input {
  border-radius: 12px;
  border: 1px solid #00000030;
  padding: 20px;
  width: 500px;
  max-width: 500px;
  min-width: 500px;
}

.edit-input-textarea {
  margin-top: 30px;
  display: block;
  min-height: 150px;
}
</style>
