<template>
  <div class="container">
    <MainEditorSample
        :dataResult="dataResult"
        @changeEditItem="(objCreate) => {
          this.editItem.id = objCreate.id;
          this.editItem.title = objCreate.title;
          this.editItem.content = objCreate.content;
        }"
        @changeActiveItem="(item) =>{
          this.editItem = {
              id: item.id,
              title: item.title,
              content: item.content,
            }
        }"
        @changeDataResult="()=>{
          let randomID = Math.random().toString(36);
          const objCreate = {
            id: randomID,
            title:'New item',
            content: '',
            children: []
          };
          this.editItem.id = objCreate.id;
          this.editItem.title = objCreate.title;
          this.editItem.content = objCreate.content;
          dataResult.push(objCreate);
        }"/>
    <div class="edit">
      <div class="edit-title">Редактирование шаблона:</div>
      <input
          :value="editItem.title"
          class="edit-input"
          placeholder="Введите название заголовка"
          type="text"
          @change="e => editItem.title = e.target.value">
      <textarea
          :value="editItem.content"
          class="edit-input edit-input-textarea"
          placeholder="Введите текст"
          @change="e => editItem.content = e.target.value"
      ></textarea>
      <div class="btn-save" @click="()=>saveItem(editItem.id)">Сохранить</div>
    </div>
  </div>
</template>

<script>
import MainEditorSample from '@/components/MainEditorSample.vue'

export default {
  name: 'EditSample',
  props: {
    msg: String
  },
  components: {
    MainEditorSample,
  },
  methods: {
    saveItem(id) {
      let randomID = Math.random().toString(36);
      if (!this.dataResult.length) {
        this.dataResult.push({
          id: randomID,
          title: this.editItem.title,
          content: this.editItem.content,
          children: []
        });
        this.editItem.id = randomID;
      }

      let ths = this;
      // eslint-disable-next-line no-unused-vars
      let findActiveItem = false;

      function checkArray(array, findId) {
        for (let i = 0; i < array.length; i++) {
          let item = array[i];
          if (item.id === findId) {
            item.title = ths.editItem.title;
            item.content = ths.editItem.content;
            return true;
          }

          if (item.children.length) {
            checkArray(item.children, findId);
          }
        }
      }

      checkArray(this.dataResult, id);

      if(this.editItem.id === '') {
        this.dataResult.unshift({
          id: randomID,
          title: this.editItem.title,
          content: this.editItem.content,
          children: []
        })

        this.editItem.id = randomID;
      }
      const dataString = JSON.stringify(this.dataResult);
      localStorage.dataSample = dataString;
    },
  },
  data() {
    return {
      editItem: {
        id: '',
        title: 'asdsada',
        content: 'content'
      },
      dataResult: []
    }
  },
  mounted() {
    const localData = localStorage?.dataSample;

    if (localData && Array.isArray(JSON.parse(localData))) {
      this.dataResult = JSON.parse(localData);
    }

    if (this.$route.params?.id) {
      this.editItem.id = this.$route.params?.id;

      let ths = this;
      // eslint-disable-next-line no-inner-declarations
      function checkArray(array, findId) {
        for (let i = 0; i < array.length; i++) {
          let item = array[i];
          if (item.id === findId) {
            console.log('wrok')
            ths.editItem.id = item.id;
            ths.editItem.title = item.title;
            ths.editItem.content = item.content;
            return '';
          }

          if (Array.isArray(item.children)) {
            (item.children.length) && (checkArray(item.children, findId));
          }
        }
      }

      (this.dataResult.length) && (checkArray(this.dataResult, this.$route.params?.id));
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  margin: 0 20px;
}

.btn-save {
  margin: 20px 0;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
  background-color: #5ABC57;
  color: white;
  display: inline-block;
  border-radius: 12px;
}

.edit {
  margin-left: 30px;
  max-width: 100%;
}

.edit-title {
  margin-bottom: 30px;
}

.edit-input {
  border-radius: 12px;
  border: 1px solid #00000030;
  padding: 20px;
  width: 500px;
  max-width: 500px;
  min-width: 500px;
}

.edit-input-textarea {
  margin-top: 30px;
  display: block;
  min-height: 150px;
}
</style>
