<template>
  <div class="container">
    <MainEditorSample
        :dataResult="dataResult"
        @changeDataResult="()=>{
          let randomID = Math.random().toString(36);
          dataResult.push({
            id: randomID,
            title:'New item',
            children: []
          });
        }"
        @changeActiveItem="(item) =>{
          this.editItem = {
              id: item.id,
              title: item.title,
              content: item.content,
            }
        }"/>
    <div class="edit">
      <div class="edit-title">Редактирование шаблона: </div>
      <input
          :value="editItem.title"
          @change="e => editItem.title = e.target.value"
          class="edit-input"
          placeholder="Введите название заголовка"
          type="text">
      <textarea
          :value="editItem.content"
          @change="e => editItem.content = e.target.value"
          class="edit-input edit-input-textarea"
          placeholder="Введите текст"
      ></textarea>
      <div @click="()=>saveItem(editItem.id)" class="btn-save">Сохранить</div>
    </div>
  </div>
</template>

<script>
import MainEditorSample from './MainEditorSample.vue'

export default {
  name: 'EditSample',
  props: {
    msg: String
  },
  components: {
    MainEditorSample,
  },
  methods: {
    saveItem(id) {
      let ths = this;
      function checkArray(array,findId) {
        for (let i = 0; i < array.length; i++) {
          let item = array[i];
          if(item.id === findId) {
            item.title = ths.editItem.title;
            item.content = ths.editItem.content;
            // let randomID = Math.random().toString(36);/*
            // item.children.unshift({id: randomID, title:'New item', children: []});*/
            return 'return'
          }

          if(item.children.length) {
            checkArray(item.children, findId)
          }
        }
      }

      checkArray(this.dataResult, id);
      // checkArray(array,0, id);
    },
  },
  data() {
    return {
      editItem: {
        id: '',
        title: 'asdsada',
        content: 'content'
      },
      dataResult: [
        {
          id: 0,
          title: 'Первый родитель',
          content: '',
          children: [
            {
              id: 1,
              title: 'Первый ребенок, первого родителя',
              content: '',
              children: [
                {
                  id: 3,
                  title: 'id 3',
                  content: '',
                  children: []
                },
                {
                  id: 4,
                  title: 'id 4',
                  content: '',
                  children: []
                }
              ]
            },
            {
              id: 2,
              title: 'Первый ребенок, первого родителя',
              content: '',
              children: []
            }
          ]
        },
        {
          id: 5,
          title: 'Второй родитель',
          content: '',
          children: []
        }
      ]
    }
  },
  computed: {
  },
  // watch: {
  //   editItem: {
  //     handler(newVal) {
  //       this.editItem = newVal
  //       // do something with the object
  //     },
  //     deep: true,
  //   },
  // },
  mounted() {
    // let newArray = [];
    //
    // function checkArray(array,nestingLevel) {
    //   nestingLevel++;
    //   for (let i = 0; i < array.length; i++) {
    //     let item = array[i];
    //     newArray.push({nestingLevel,...item})
    //     if(item.children.length) {
    //       checkArray(item.children,nestingLevel)
    //     }
    //   }
    // }
    // checkArray(this.dataResult,0);
    // this.dataItems = newArray;
  }
}
</script>

<style scoped lang="scss">
.container {
  display: flex;
  margin: 0 20px;
}

.btn-save {
  margin: 20px 0;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
  background-color: #5ABC57;
  color: white;
  display: inline-block;
  border-radius: 12px;
}

.edit {
  margin-left: 30px;
  max-width: 100%;
  //overflow: hidden;
}

.edit-title {
  margin-bottom: 30px;
}

.edit-input {
  //background: #F2F9FF;
  border-radius: 12px;
  //border: none;
  border:1px solid #00000030;
  padding: 20px;
  width: 500px;
  max-width: 500px;
  min-width: 500px;
}

.edit-input-textarea {
  margin-top: 30px;
  display: block;
}
</style>
