<template>
  <div class="links-header">
    <div
        v-for="item in routerLink"
        :key="item.path"
        :style="{borderBottom: this.$route.path === item.path ? '2px solid  #6486FF' : '2px solid #F2F9FF' }"
        @click="()=>$router.push(item.path)"
        class="link">{{ item.title }}</div>
  </div>
</template>

<script>

import router from "@/router.js";

export default {
  name: 'HeaderApp',
  data() {
    return {
      routerLink: router
    }
  },
  mounted() {
    console.log(router)
  }
}
</script>


<style scoped lang="scss">
.link {
cursor: pointer;
  //background-color: #F2F9FF;
  border-bottom: 3px solid #F2F9FF;
  padding: 10px;
  display: inline-block;
  border-radius: 0px;
  transition: border .3s;
}

.link:hover {
  cursor: pointer;
  border-bottom: 3px solid #6486FF;
}

.links-header {
  border: 1px solid #F2F9FF;
  padding: 20px 30px;
  margin: 50px 0px;
  border-radius: 10px;
}

</style>
