<template>
  <div class="hello">
    <div
        v-for="item in arrayData"
        :key="item.id"
        :class="{addDisabled: item.nestingLevel === 4 || mode === 'viewing'}"
        :style="{
        marginLeft: (item.nestingLevel * 30) - 30 + 'px',
       }"
        class="item-wrapper">
      <div
          :style="{
                borderLeft: (item.nestingLevel === 1) && '2px solid #6486FF',
            }"
          class="item"
      >
        item - {{ item.title }}
        <div class="item-btn__edit" @click="() => {
            $emit('changeActiveItem',item);
            $router.push('/editSample/'+item.id);
          }">
          <img height="12" width="12" src="@/assets/edit.png" alt="">
        </div>
        <div v-if="mode === 'viewing'" class="item-btn__add" @click="() => $emit('addContentProtocol',item.content)">
          +
        </div>
      </div>
      <div class="item__add">
        <div class="item__add__wrapper" @click="addItem(dataResult, item.id)">
          add new item
        </div>
      </div>
    </div>

    <div v-if="mode === 'edit'" class="item__add__block">
      <div class="item__add">
        <div class="item__add__wrapper" @click="()=>$emit('changeDataResult')">
          Новый шаблон
        </div>
      </div>
    </div>
    <div v-if="!dataResult.length && $route.path !== '/editSample'" class="item__add__block">
      <div class="item__add">
        <div class="item__add__wrapper" @click="()=>$router.push('/editSample/:id')">
          Шаблонов нет - создайте первый.
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'MainEditorSample',
  props: {
    msg: String,
    dataResult: {
      default: []
    },
    mode: {
      default: 'edit'
    }
  },
  methods: {
    addItem(ad, id) {
      let ths = this;

      function checkArray(array, nestingLevel, findId) {
        for (let i = 0; i < array.length; i++) {
          let item = array[i];
          if (item.id === findId) {
            let randomID = Math.random().toString(36);
            const objCreate = {
              id: randomID,
              title: 'New item',
              content: '',
              children: []
            };
            ths.$emit('changeEditItem', objCreate)
            item.children.unshift(objCreate);
            return 'return'
          }

          nestingLevel++;

          if (item.children.length) {
            checkArray(item.children, nestingLevel, findId)
          }
        }
      }

      checkArray(this.dataResult, 0, id);
    }
  },
  computed: {
    arrayData: function () {
      let newArray = [];

      function checkArray(array, nestingLevel) {
        nestingLevel++;
        for (let i = 0; i < array.length; i++) {
          let item = array[i];
          newArray.push({nestingLevel, ...item})

          if (Array.isArray(item.children)) {
            (item.children.length) && (checkArray(item.children, nestingLevel));
          }
        }
      }

      checkArray(this.dataResult, 0);
      return newArray;
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.item__add__block {
  position: relative;
  width: 300px;

  .item__add {
    display: block;
    padding-top: 0;
    position: initial;
  }
}

.item-wrapper {
  position: relative;
  width: 300px;
  background: transparent;
  transition: height .3s, margin .5s;
  padding-bottom: 20px;
}

.item {
  background: #F2F9FF;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-btn__edit, .item-btn__add {
  padding: 10px;
  display: none;
  top: 50%;
  transform: translate(0px, -50%);
  right: 0px;
  position: absolute;
  background: #F2F9FF;
}

.item-btn__add {
  right: 32px;
}

.item-btn__edit:hover, .item-btn__add:hover {
  background: #6486FF;
  border-radius: 3px;
}

.item__add {
  display: none;
  transition: opacity .2s;
  padding: 20px 0;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  cursor: pointer;
  transition: background-color .2s;
}

.item__add__wrapper {
  padding: 10px;
  background: #fff;
  border: 1px dashed #6486FF;
  border-radius: 3px;
  transition: background .2s;
}

.item__add__wrapper:hover {
  background: #F2F9FF;
}

.item-wrapper:hover {
  height: auto;
  margin-bottom: 45px;
}

.item-wrapper:hover .item-btn__edit {
  display: block;
}

.item-wrapper:hover .item-btn__add {
  display: block;
}

.item-wrapper:hover .item__add {
  opacity: 1;
  display: block;
}


.addDisabled:hover {
  overflow: hidden;
  margin-bottom: 0;

  .item__add {
    display: none;
  }
}
</style>
