<template>


  <div class="container-app">
    <HeaderApp/>
    <router-view></router-view>
  </div>
</template>

<script>
import HeaderApp from '@/components/HeaderApp.vue'

export default {
  name: 'App',
  components: {
    HeaderApp,
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-app {
  width: 1200px;
  margin: 0 auto;
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}


</style>
